.user-component {
  justify-content: space-between;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 20px;
}

.user-component__title {
  font-weight: 600;
  font-size: 22px;
}

.user-component__subtitle {
  margin-top: 8px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.5);
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}
.user-component__title--not-bold {
  font-weight: 400;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.4);
  display: flex; /* father의 flex방향의 영향을 준다 (div로 감싸주면 
  부모-자식관계를 끊고 부모-손자 관계를 만들어주어 영향을 받지 않는다) */
  flex-direction: column; /* 이걸 작성하면 friends.html에 있는 부분이 깨진다 
  해결하려면 friends.html에 가서 last해당하는 부분을 div안에 넣어주기만 하면 된다. */
  align-items: flex-end;
}
.user-component__time {
  margin-bottom: 10px;
  display: block;
}
